//
//  ${moduleName}.h
//  ${packageName}
//
//  Created by $author.
//  Copyright (c) $year, $author. All rights reserved.
//

#import <Cocoa/Cocoa.h>

@interface ${moduleName} : NSObject <NSApplicationDelegate>


@end

